@import '~bootstrap/scss/bootstrap.scss'

// New

nav
  background: blue

.logo
  color: blue
  background: aqua

  &:hover
    color: navy

.search-bar
  background: #e1dfdd

  form

    button
      color: blue

      &:hover
        color: navy

    button:focus, input:focus
      outline: none
      box-shadow: none

.avatar-img
  border: 1px solid blue

  &:hover
    border: 1px solid white

// Bootstrap

.search-form
  @extend .input-group

.search-btn
  @extend .btn

.logo, .search-from
  @extend .card-link

.search-in
  @extend .form-control 

.logo, .search-btn
  @extend .d-flex

.logo
  @extend .align-items-center

.search-in
  @extend .bg-transparent

.search-bar
  @extend .border

.search-bar
  @extend .border-light

.logo
  @extend .rounded

.avatar-img
  @extend .rounded-circle

.search-bar
  @extend .rounded-pill

.search-in
  @extend .border-0

.logo
  @extend .px-1

.search-in
  @extend .pl-1

.search-in
  @extend .pr-3

.logo-img
  @extend .mr-1
