@import '~bootstrap/scss/bootstrap.scss'

$spacer: 16px

// Custom

.form-group
  display: flex
  width: fit-content

// New

header
  background: blue

.logo
  color: blue
  background: aqua

  &:hover
    color: navy

.search-bar
  background: #e1dfdd

  form

    button
      color: blue

      &:hover
        color: navy

.avatar-img
  border: 1px solid blue

  &:hover
    border: 1px solid white

// Bootstrap

header
  @extend .navbar

.form-search
  @extend .input-group

.btn-search, .btn-input, .btn-create-account
  @extend .btn

.btn-create-account
  @extend .btn-success

.logo, .search-from
  @extend .card-link

.form-group-email, .form-group-password
  @extend .form-group

.input-search, .input-email, .input-password
  @extend .form-control

.form-check-remember
  @extend .form-check

.remember-me-input
  @extend .form-check-input

.remember-me-label
  @extend .form-check-label

.logo, .btn-search, .btn-input, .section-login, .form-login
  @extend .d-flex

.form-login
  @extend .flex-xl-column

.logo, .form-login
  @extend .align-items-center

.section-login, .form-login, .section-login
  @extend .justify-content-center

.section-login
  @extend .text-center

.input-search
  @extend .bg-transparent

.search-bar, .form-group-email, .form-group-password
  @extend .border

.form-group-password
  @extend .border-top-0

.form-check
  @extend .border-bottom

.logo
  @extend .rounded

.form-group-password
  @extend .rounded-bottom

.avatar-img
  @extend .rounded-circle

.search-bar
  @extend .rounded-pill

.input-search, .input-email, .input-password
  @extend .border-0

.input-search, .btn-search, .input-email, .input-password, .btn-input
  @extend .shadow-none

.form-group-email
  @extend .m-0

.form-login, .form-check-remember
  @extend .mt-3

.h1-login, .form-check-remember
  @extend .mb-3

header
  @extend .p-1

.logo
  @extend .px-1

.input-search
  @extend .pl-1

.input-search
  @extend .pr-3

.form-check
  @extend .pb-3
